USE [DB_QUAN_LY_SHOP_DIEN_THOAI]
GO
/****** Object:  Table [dbo].[CA_LAM_VIEC]    Script Date: 18/12/2016 9:31:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_LAM_VIEC](
	[CA] [int] NOT NULL,
	[GIO] [int] NOT NULL,
	[BAT_DAU] [time](7) NOT NULL,
	[KET_THUC] [time](7) NOT NULL,
 CONSTRAINT [PK__CA_LAM_V__32149A630B983278] PRIMARY KEY CLUSTERED 
(
	[CA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHI_TIET_HOA_DON]    Script Date: 18/12/2016 9:31:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_HOA_DON](
	[MA_HOA_DON] [int] NOT NULL,
	[IMEI] [nvarchar](20) NOT NULL,
	[GIA] [int] NULL,
	[GHI_CHU] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_HOA_DON] ASC,
	[IMEI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHI_TIET_SAN_PHAM]    Script Date: 18/12/2016 9:31:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_SAN_PHAM](
	[MA_CHI_TIET_SAN_PHAM] [int] IDENTITY(1,1) NOT NULL,
	[MA_HANG] [int] NOT NULL,
	[DONG_SAN_PHAM] [nvarchar](50) NULL,
	[SO_HIEU_SAN_PHAM] [nvarchar](50) NULL,
	[TEN_SAN_PHAM] [nvarchar](200) NOT NULL,
	[THONG_TIN_KY_THUAT] [text] NULL,
	[THONG_TIN_SAN_PHAM] [text] NULL,
	[THOI_GIAN_BAO_HANH] [int] NULL,
	[GHI_CHU] [text] NULL,
	[GIA_BAN] [int] NOT NULL,
 CONSTRAINT [PK__CHI_TIET__22BFBDD699DD9C3C] PRIMARY KEY CLUSTERED 
(
	[MA_CHI_TIET_SAN_PHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHUC_VU_NHAN_VIEN]    Script Date: 18/12/2016 9:31:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUC_VU_NHAN_VIEN](
	[MA_CHUC_VU] [int] NOT NULL,
	[CHUC_VU] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_CHUC_VU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DOI_TAC_NHAP_HANG]    Script Date: 18/12/2016 9:31:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOI_TAC_NHAP_HANG](
	[MA_DOI_TAC] [int] IDENTITY(1,1) NOT NULL,
	[THONG_TIN] [text] NULL,
	[SO_DIEN_THOAI] [text] NULL,
	[MSNV_QUAN_LY] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_DOI_TAC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HANG_SAN_XUAT]    Script Date: 18/12/2016 9:31:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANG_SAN_XUAT](
	[MA_HANG] [int] IDENTITY(1,1) NOT NULL,
	[HANG] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_HANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 18/12/2016 9:31:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON](
	[MA_HOA_DON] [int] IDENTITY(1,1) NOT NULL,
	[THOI_GIAN] [datetime] NULL,
	[LOAI_HOA_DON] [int] NULL,
	[TONG_CONG] [int] NULL,
	[MSNV_THUC_HIEN] [int] NULL,
	[THONG_TIN_KHACH_HANG] [text] NULL,
	[MA_DOI_TAC] [int] NULL,
	[GHI_CHU] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_HOA_DON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHO_HANG]    Script Date: 18/12/2016 9:31:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHO_HANG](
	[MA_KHO] [int] IDENTITY(1,1) NOT NULL,
	[MA_DOI_TAC] [int] NOT NULL,
	[MA_CHI_TIET_SAN_PHAM] [int] NOT NULL,
	[THOI_GIAN] [datetime] NOT NULL,
	[GIA_MUA] [int] NOT NULL,
	[SO_LUONG] [int] NOT NULL,
	[CON_LAI] [int] NOT NULL,
	[MSNV_THUC_HIEN] [int] NULL,
 CONSTRAINT [PK__KHO_HANG__CAC48554796548F8] PRIMARY KEY CLUSTERED 
(
	[MA_KHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LICH_SU_NHAN_VIEN]    Script Date: 18/12/2016 9:31:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICH_SU_NHAN_VIEN](
	[MSNV] [int] NOT NULL,
	[THOI_GIAN] [datetime] NOT NULL,
	[MA_LICH_SU] [int] NOT NULL,
	[MSNV_THUC_HIEN] [int] NULL,
	[GHI_CHU] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[MSNV] ASC,
	[THOI_GIAN] ASC,
	[MA_LICH_SU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LICH_SU_SAN_PHAM]    Script Date: 18/12/2016 9:31:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICH_SU_SAN_PHAM](
	[IMEI] [nvarchar](20) NOT NULL,
	[THOI_GIAN] [datetime] NOT NULL,
	[MA_LICH_SU] [int] NOT NULL,
	[MSNV_THUC_HIEN] [int] NULL,
	[GHI_CHU] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[IMEI] ASC,
	[THOI_GIAN] ASC,
	[MA_LICH_SU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LUONG]    Script Date: 18/12/2016 9:31:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUONG](
	[MSNV] [int] NOT NULL,
	[THOI_GIAN] [datetime] NOT NULL,
	[LUONG_THUONG] [int] NULL,
	[TONG_GIO_CONG] [int] NULL,
	[HE_SO_LUONG] [int] NULL,
	[TONG_LUONG] [int] NULL,
	[XAC_NHAN_LUONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MSNV] ASC,
	[THOI_GIAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 18/12/2016 9:31:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[MSNV] [int] IDENTITY(1,1) NOT NULL,
	[HO_TEN] [text] NULL,
	[CMND] [text] NULL,
	[NGAY_SINH] [datetime] NULL,
	[SO_DIEN_THOAI] [text] NULL,
	[CHUC_VU] [int] NULL,
	[MAT_KHAU] [text] NULL,
	[NGAY_VAO_LAM] [datetime] NULL,
	[TRANG_THAI] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MSNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHAN_CA]    Script Date: 18/12/2016 9:31:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHAN_CA](
	[MSNV] [int] NOT NULL,
	[THOI_GIAN] [datetime] NOT NULL,
	[CA] [int] NOT NULL,
	[CHAM_CONG] [int] NOT NULL,
	[XAC_NHAN_CONG] [int] NOT NULL,
 CONSTRAINT [PK__PHAN_CA__E82A2F206622F714] PRIMARY KEY CLUSTERED 
(
	[MSNV] ASC,
	[THOI_GIAN] ASC,
	[CA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SAN_PHAM]    Script Date: 18/12/2016 9:31:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAN_PHAM](
	[IMEI] [nvarchar](20) NOT NULL,
	[MA_KHO] [int] NOT NULL,
	[MA_CHI_TIET_SAN_PHAM] [int] NOT NULL,
	[NGAY_BAT_DAU_BAO_HANH] [datetime] NULL,
	[NGAY_KET_THUC_BAO_HANH] [datetime] NULL,
	[TRANG_THAI] [int] NOT NULL,
	[GHI_CHU] [text] NULL,
	[GIA_MUA] [int] NULL,
	[GIA_BAN] [int] NULL,
 CONSTRAINT [PK__SAN_PHAM__8DF371FC4A091CD1] PRIMARY KEY CLUSTERED 
(
	[IMEI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRANG_THAI_SAN_PHAM]    Script Date: 18/12/2016 9:31:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANG_THAI_SAN_PHAM](
	[MA_TRANG_THAI] [int] IDENTITY(0,1) NOT NULL,
	[TRANG_THAI] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_TRANG_THAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[CA_LAM_VIEC] ([CA], [GIO], [BAT_DAU], [KET_THUC]) VALUES (1, 4, CAST(0x070040230E430000 AS Time), CAST(0x0700E03495640000 AS Time))
INSERT [dbo].[CA_LAM_VIEC] ([CA], [GIO], [BAT_DAU], [KET_THUC]) VALUES (2, 5, CAST(0x0700E03495640000 AS Time), CAST(0x0700E80A7E8E0000 AS Time))
INSERT [dbo].[CA_LAM_VIEC] ([CA], [GIO], [BAT_DAU], [KET_THUC]) VALUES (3, 4, CAST(0x0700E80A7E8E0000 AS Time), CAST(0x0700881C05B00000 AS Time))
SET IDENTITY_INSERT [dbo].[CHI_TIET_SAN_PHAM] ON 

INSERT [dbo].[CHI_TIET_SAN_PHAM] ([MA_CHI_TIET_SAN_PHAM], [MA_HANG], [DONG_SAN_PHAM], [SO_HIEU_SAN_PHAM], [TEN_SAN_PHAM], [THONG_TIN_KY_THUAT], [THONG_TIN_SAN_PHAM], [THOI_GIAN_BAO_HANH], [GHI_CHU], [GIA_BAN]) VALUES (8, 4, N'Redmi', N'Note 3 Pro 32GB', N'Xiaomi RedMi Note 3 Pro', N'CPU: SnapDragron 650
Ram: 32GB', N'Xiaomi
China', 12, N'', 3770000)
INSERT [dbo].[CHI_TIET_SAN_PHAM] ([MA_CHI_TIET_SAN_PHAM], [MA_HANG], [DONG_SAN_PHAM], [SO_HIEU_SAN_PHAM], [TEN_SAN_PHAM], [THONG_TIN_KY_THUAT], [THONG_TIN_SAN_PHAM], [THOI_GIAN_BAO_HANH], [GHI_CHU], [GIA_BAN]) VALUES (9, 3, N'6', N'16', N'iPhone 6 16GB', N'', N'', 12, N'', 12000000)
SET IDENTITY_INSERT [dbo].[CHI_TIET_SAN_PHAM] OFF
INSERT [dbo].[CHUC_VU_NHAN_VIEN] ([MA_CHUC_VU], [CHUC_VU]) VALUES (1, N'Quản Lý')
INSERT [dbo].[CHUC_VU_NHAN_VIEN] ([MA_CHUC_VU], [CHUC_VU]) VALUES (2, N'Thu Ngân')
INSERT [dbo].[CHUC_VU_NHAN_VIEN] ([MA_CHUC_VU], [CHUC_VU]) VALUES (3, N'Hỗ Trợ Kỹ Thuật')
SET IDENTITY_INSERT [dbo].[HANG_SAN_XUAT] ON 

INSERT [dbo].[HANG_SAN_XUAT] ([MA_HANG], [HANG]) VALUES (1, N'SamSung')
INSERT [dbo].[HANG_SAN_XUAT] ([MA_HANG], [HANG]) VALUES (2, N'Sony')
INSERT [dbo].[HANG_SAN_XUAT] ([MA_HANG], [HANG]) VALUES (3, N'iPhone')
SET IDENTITY_INSERT [dbo].[HANG_SAN_XUAT] OFF
INSERT [dbo].[LICH_SU_NHAN_VIEN] ([MSNV], [THOI_GIAN], [MA_LICH_SU], [MSNV_THUC_HIEN], [GHI_CHU]) VALUES (1, CAST(0x0000A6D600000000 AS DateTime), 7, 1, N'******** -> ********')
INSERT [dbo].[LICH_SU_NHAN_VIEN] ([MSNV], [THOI_GIAN], [MA_LICH_SU], [MSNV_THUC_HIEN], [GHI_CHU]) VALUES (1, CAST(0x0000A6E001346790 AS DateTime), 7, 1, N'******** -> ********')
INSERT [dbo].[LICH_SU_NHAN_VIEN] ([MSNV], [THOI_GIAN], [MA_LICH_SU], [MSNV_THUC_HIEN], [GHI_CHU]) VALUES (1, CAST(0x0000A6E001347348 AS DateTime), 5, 1, N'01228782377 -> 012287823778')
SET IDENTITY_INSERT [dbo].[NHAN_VIEN] ON 

INSERT [dbo].[NHAN_VIEN] ([MSNV], [HO_TEN], [CMND], [NGAY_SINH], [SO_DIEN_THOAI], [CHUC_VU], [MAT_KHAU], [NGAY_VAO_LAM], [TRANG_THAI]) VALUES (1, N'Lâm Phúc Tài', N'025503611', CAST(0x00008A3C00000000 AS DateTime), N'01228782377', 1, N'ninedog', CAST(0x0000A6B400000000 AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[NHAN_VIEN] OFF
SET IDENTITY_INSERT [dbo].[TRANG_THAI_SAN_PHAM] ON 

INSERT [dbo].[TRANG_THAI_SAN_PHAM] ([MA_TRANG_THAI], [TRANG_THAI]) VALUES (0, N'Chưa Bán')
INSERT [dbo].[TRANG_THAI_SAN_PHAM] ([MA_TRANG_THAI], [TRANG_THAI]) VALUES (1, N'Đã Bán')
INSERT [dbo].[TRANG_THAI_SAN_PHAM] ([MA_TRANG_THAI], [TRANG_THAI]) VALUES (2, N'Nhận Bảo Hành')
SET IDENTITY_INSERT [dbo].[TRANG_THAI_SAN_PHAM] OFF
ALTER TABLE [dbo].[CHI_TIET_HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_HOA_DON_HOA_DON] FOREIGN KEY([MA_HOA_DON])
REFERENCES [dbo].[HOA_DON] ([MA_HOA_DON])
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON] CHECK CONSTRAINT [FK_CHI_TIET_HOA_DON_HOA_DON]
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_HOA_DON_SAN_PHAM] FOREIGN KEY([IMEI])
REFERENCES [dbo].[SAN_PHAM] ([IMEI])
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON] CHECK CONSTRAINT [FK_CHI_TIET_HOA_DON_SAN_PHAM]
GO
ALTER TABLE [dbo].[CHI_TIET_SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_SAN_PHAM_HANG_SAN_XUAT] FOREIGN KEY([MA_HANG])
REFERENCES [dbo].[HANG_SAN_XUAT] ([MA_HANG])
GO
ALTER TABLE [dbo].[CHI_TIET_SAN_PHAM] CHECK CONSTRAINT [FK_CHI_TIET_SAN_PHAM_HANG_SAN_XUAT]
GO
ALTER TABLE [dbo].[DOI_TAC_NHAP_HANG]  WITH CHECK ADD  CONSTRAINT [FK_DOI_TAC_NHAP_HANG_NHAN_VIEN] FOREIGN KEY([MSNV_QUAN_LY])
REFERENCES [dbo].[NHAN_VIEN] ([MSNV])
GO
ALTER TABLE [dbo].[DOI_TAC_NHAP_HANG] CHECK CONSTRAINT [FK_DOI_TAC_NHAP_HANG_NHAN_VIEN]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_DOI_TAC_NHAP_HANG] FOREIGN KEY([MA_DOI_TAC])
REFERENCES [dbo].[DOI_TAC_NHAP_HANG] ([MA_DOI_TAC])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOA_DON_DOI_TAC_NHAP_HANG]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_NHAN_VIEN] FOREIGN KEY([MSNV_THUC_HIEN])
REFERENCES [dbo].[NHAN_VIEN] ([MSNV])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOA_DON_NHAN_VIEN]
GO
ALTER TABLE [dbo].[KHO_HANG]  WITH CHECK ADD  CONSTRAINT [FK_KHO_HANG_CHI_TIET_SAN_PHAM] FOREIGN KEY([MA_CHI_TIET_SAN_PHAM])
REFERENCES [dbo].[CHI_TIET_SAN_PHAM] ([MA_CHI_TIET_SAN_PHAM])
GO
ALTER TABLE [dbo].[KHO_HANG] CHECK CONSTRAINT [FK_KHO_HANG_CHI_TIET_SAN_PHAM]
GO
ALTER TABLE [dbo].[KHO_HANG]  WITH CHECK ADD  CONSTRAINT [FK_KHO_HANG_DOI_TAC_NHAP_HANG] FOREIGN KEY([MA_DOI_TAC])
REFERENCES [dbo].[DOI_TAC_NHAP_HANG] ([MA_DOI_TAC])
GO
ALTER TABLE [dbo].[KHO_HANG] CHECK CONSTRAINT [FK_KHO_HANG_DOI_TAC_NHAP_HANG]
GO
ALTER TABLE [dbo].[LICH_SU_NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_LICH_SU_NHAN_VIEN_NHAN_VIEN] FOREIGN KEY([MSNV])
REFERENCES [dbo].[NHAN_VIEN] ([MSNV])
GO
ALTER TABLE [dbo].[LICH_SU_NHAN_VIEN] CHECK CONSTRAINT [FK_LICH_SU_NHAN_VIEN_NHAN_VIEN]
GO
ALTER TABLE [dbo].[LICH_SU_NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_LICH_SU_NHAN_VIEN_NHAN_VIEN_1] FOREIGN KEY([MSNV_THUC_HIEN])
REFERENCES [dbo].[NHAN_VIEN] ([MSNV])
GO
ALTER TABLE [dbo].[LICH_SU_NHAN_VIEN] CHECK CONSTRAINT [FK_LICH_SU_NHAN_VIEN_NHAN_VIEN_1]
GO
ALTER TABLE [dbo].[LICH_SU_SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_LICH_SU_SAN_PHAM_NHAN_VIEN] FOREIGN KEY([MSNV_THUC_HIEN])
REFERENCES [dbo].[NHAN_VIEN] ([MSNV])
GO
ALTER TABLE [dbo].[LICH_SU_SAN_PHAM] CHECK CONSTRAINT [FK_LICH_SU_SAN_PHAM_NHAN_VIEN]
GO
ALTER TABLE [dbo].[LICH_SU_SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_LICH_SU_SAN_PHAM_SAN_PHAM] FOREIGN KEY([IMEI])
REFERENCES [dbo].[SAN_PHAM] ([IMEI])
GO
ALTER TABLE [dbo].[LICH_SU_SAN_PHAM] CHECK CONSTRAINT [FK_LICH_SU_SAN_PHAM_SAN_PHAM]
GO
ALTER TABLE [dbo].[LUONG]  WITH CHECK ADD  CONSTRAINT [FK_LUONG_NHAN_VIEN] FOREIGN KEY([MSNV])
REFERENCES [dbo].[NHAN_VIEN] ([MSNV])
GO
ALTER TABLE [dbo].[LUONG] CHECK CONSTRAINT [FK_LUONG_NHAN_VIEN]
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHAN_VIEN_CHUC_VU_NHAN_VIEN] FOREIGN KEY([CHUC_VU])
REFERENCES [dbo].[CHUC_VU_NHAN_VIEN] ([MA_CHUC_VU])
GO
ALTER TABLE [dbo].[NHAN_VIEN] CHECK CONSTRAINT [FK_NHAN_VIEN_CHUC_VU_NHAN_VIEN]
GO
ALTER TABLE [dbo].[PHAN_CA]  WITH CHECK ADD  CONSTRAINT [FK_PHAN_CA_CA_LAM_VIEC] FOREIGN KEY([CA])
REFERENCES [dbo].[CA_LAM_VIEC] ([CA])
GO
ALTER TABLE [dbo].[PHAN_CA] CHECK CONSTRAINT [FK_PHAN_CA_CA_LAM_VIEC]
GO
ALTER TABLE [dbo].[PHAN_CA]  WITH CHECK ADD  CONSTRAINT [FK_PHAN_CA_NHAN_VIEN] FOREIGN KEY([MSNV])
REFERENCES [dbo].[NHAN_VIEN] ([MSNV])
GO
ALTER TABLE [dbo].[PHAN_CA] CHECK CONSTRAINT [FK_PHAN_CA_NHAN_VIEN]
GO
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_SAN_PHAM_CHI_TIET_SAN_PHAM] FOREIGN KEY([MA_CHI_TIET_SAN_PHAM])
REFERENCES [dbo].[CHI_TIET_SAN_PHAM] ([MA_CHI_TIET_SAN_PHAM])
GO
ALTER TABLE [dbo].[SAN_PHAM] CHECK CONSTRAINT [FK_SAN_PHAM_CHI_TIET_SAN_PHAM]
GO
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_SAN_PHAM_KHO_HANG] FOREIGN KEY([MA_KHO])
REFERENCES [dbo].[KHO_HANG] ([MA_KHO])
GO
ALTER TABLE [dbo].[SAN_PHAM] CHECK CONSTRAINT [FK_SAN_PHAM_KHO_HANG]
GO
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_SAN_PHAM_TRANG_THAI_SAN_PHAM] FOREIGN KEY([TRANG_THAI])
REFERENCES [dbo].[TRANG_THAI_SAN_PHAM] ([MA_TRANG_THAI])
GO
ALTER TABLE [dbo].[SAN_PHAM] CHECK CONSTRAINT [FK_SAN_PHAM_TRANG_THAI_SAN_PHAM]
GO
